@import "../css/common.scss";
.section-why-us.teacher {
    padding-top: 100px;
    margin-top: -35px;
    z-index: -1;
    background-image: url(../images/teacher/join-our-team/icon-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    @include Responsive(SM) {
        margin-top: -60px;
        background-image: unset;
    }
    .items-container {
        justify-content: center;
    }
    .box-title-main {
        margin-top: 0;
    }
}

.section-meet-us {
    position: relative;
    margin-top: -1px;
    padding-bottom: 130px;
    @include Responsive(SM) {
        padding-bottom: 90px;
    }
    .icon-absolute {
        position: absolute;
        content: "";
        top: -5%;
        right: 8%;
        @include Responsive(SM) {
            top: 0;
        }
        img {
            width: auto;
            @include Responsive(SM) {
                width: 61px;
            }
        }
    }
    .box-title-main {
        margin-top: 60px;
    }
    .wrapper-meet-us {
        width: 100%;
        max-width: 1160px;
        margin: auto;
        .btn-arrow {
            cursor: pointer;
            @include Responsive(SM) {
                top: 22%;
            }
            &.btn-prev {
                @media screen and(max-width: 1280px) {
                    left: -20px;
                }
                @include Responsive(LG) {
                    left: 0;
                }
                @include Responsive(SM) {
                    left: 10px;
                }
            }
            &.btn-next {
                @media screen and(max-width: 1280px) {
                    right: -20px;
                }
                @include Responsive(LG) {
                    right: 0;
                }
                @include Responsive(SM) {
                    right: 10px;
                }
            }
        }
        .box-item {
            display: flex;
            column-gap: 60px;
            justify-content: space-between;
            padding: 60px 30px 0;
            @include Responsive(SM) {
                flex-direction: column;
                padding: 44px 16px 0;
            }
            &-img {
                border: 4px solid $color_blue;
                position: relative;
                height: max-content;
                width: max-content;
                @include Responsive(SM) {
                    margin: auto;
                }
                img {
                    @include Responsive(SM) {
                        width: auto;
                    }
                }
                .icon-star {
                    position: absolute;
                    content: "";
                    top: -23%;
                    left: -13%;
                    width: auto;
                    @include Responsive(SM) {
                        width: 52px;
                        top: -15%;
                        left: -10%;
                    }
                }
            }
            &-main {
                width: 75%;
                @include Responsive(SM) {
                    width: 100%;
                }
                .title {
                    margin-bottom: 24px;
                    @include Responsive(SM) {
                        text-align: center;
                        margin-bottom: 12px;
                        margin-top: 24px;
                    }
                    h3 {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 27px;
                        color: $color_blue;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 140%;
                        letter-spacing: 0.15px;
                        color: #000000;
                    }
                }
                .content {
                    font-family: "Montserrat";
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    color: #000000;
                    text-align: justify;
                }
            }
        }
    }
}
